{% extends 'base.html.twig' %}

{% block title %}SallesTravail{% endblock %}

{% block body %}
    <h1>SallesTravail</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ salles_travail.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ salles_travail.nom }}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ salles_travail.capacite }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ salles_travail.disponibilite ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_salles_travail_index') }}">back to list</a>

    <a href="{{ path('app_salles_travail_edit', {'id': salles_travail.id}) }}">edit</a>

    {{ include('salles_travail/_delete_form.html.twig') }}
{% endblock %}
