{# templates/Bibliotheque/en_retard.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Livres en Retard{% endblock %}

{% block body %}
    <h1>Livres en Retard</h1>

    <div class="container">
        {% if livres is empty %}
            <p>Aucun livre en retard.</p>
        {% else %}
            <div class="row">
                {% for livre in livres %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            {% if livre.image %}
                
                                <img src="{{ asset('uploads/images/' ~ livre.image) }}" alt="Image de {{ livre.titre | default('Image non disponible') }}"
                                     class="bd-placeholder-img card-img-top">
                            {% else %}
                                <img src="{{ asset('path/to/default/image.jpg') }}" alt="Image par défaut"
                                     class="bd-placeholder-img card-img-top">
                            {% endif %}
                            <div class="card-body">
=                                <h5 class="card-title">{{ livre.titre | default('Titre inconnu') }}</h5>
                                <p class="card-text">{{ livre.resume | default('Pas de résumé disponible') }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Emprunté le : 
                                        {{ livre.emprunt.dateEmprunt|date('d/m/Y') }}
                                    </small>
                                    <small class="text-muted">Retour prévu : 
                                        {{ livre.emprunt.dateRestitutionPrevisionnelle|date('d/m/Y') }}
                                    </small>
                                    {% if livre.emprunt.dateRestitutionPrevisionnelle < date() %}
                                        <span class="badge bg-danger">En retard</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
