{% extends 'base.html.twig' %}

{% block title %}Symfony Book{% endblock %}

{% block body %}
    <h1>Bibliotheque</h1>
    <nav>
        <ul>
            {# <li><a href="{{ path('app_livres_index') }}">Livres</a></li> #}
            {# <li><a href="{{ path('app_auteurs_index') }}">Auteurs</a></li> #}
            {# <li><a href="{{ path('app_emprunts_index') }}">Emprunts</a></li> #}
           

            {% include "components/_search.html.twig" with { form:form ?? null } only  %}
        </ul>
    </nav>
    <div class="container"> 
        {# modal #}
        {% for livre in livres %}
       
        <div class="modal fade" id="staticBackdrop{{ livre.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">{{ livre.nom }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{ vich_uploader_asset(livre, 'imageFile') }}" class="img-fluid rounded-start" alt="{{ livre.nom }}">
                        {# info sur le livre #}
                        <h5>résumer :</h5>
                        <p>{{ livre.resume }}</p>
                        <p> <h5>Année de publication :</h5> {{ livre.anneePublication }} </p>
                        {# auteurs #}
                        <h5>Auteur(s) : 
                            {% if livre.auteurs is empty %}
                                <p>Aucun auteur trouvé.</p>
                            {% else %}
                                {% for auteurs in livre.auteurs %}
                                    <p>{{ auteurs.nom }}</p>
                                {% endfor %}
                            {% endif %}
                        </h5> 
                        <p>État : {{ livre.etatsLivres.libelle }}</p> 

                        {# Emprunt #}
                        {% if livre.emprunts is not empty %}
                            {% for emprunt in livre.emprunts %}
                                <p>Emprunté le : {{ emprunt.dateDemande|date('Y-m-d') }}</p>
                                <p>Restitution prévue : {{ emprunt.dateRestitutionPrevisionnelle|date('Y-m-d') }}</p>
                                <button type="button" class="btn btn-danger" onclick="location.href='/livres/restituer/{{ livre.id }}'">Restituer</button>
                            {% endfor %}
                        {% else %}
                                <p>Disponible</p>
                                <button  class="btn btn-success" onclick="location.href='/livres/emprunter/{{ livre.id }}'">Emprunter</button>
                        {% endif %}
                            
                        {#ajouter un commentaire#}
                        <h5>Ajouter un commentaire :</h5>
                        <textarea name="commentaire" id="commentaire" cols="30" rows="10"></textarea><br>

                        {# <label for="note">Note :</label>
                        <select name="note" id="note">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select><br> #}

                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#commentaireEmprunt{{ livre.id }}">Ajouter un commentaire</button>

                        {# commentaires #}

                        <h5>Commentaires :</h5>
                        {% if livre.commentaires is empty %}
                            <p>Aucun commentaire trouvé.</p>
                        {% else %}
                            {% for commentaire in livre.commentaires %}
                                <p>{{ commentaire.commentaire }}</p>
                                <p>{{ commentaire.note }}</p>
                            {% endfor %}
                        {% endif %}

                            
                        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    {% endfor %}
    {# fin modal #}
     <a href="{{ path('livres_en_retard') }}" class="btn btn-warning">Afficher les livres en retard</a>
    {# tous les livres #}
    {% for livre in livres %}

    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ vich_uploader_asset(livre, 'imageFile') }}" class="img-fluid rounded-start" alt="{{ livre.nom }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">

                            {# titre #}

                            <h5 class="card-title">{{ livre.nom }}</h5>

                            {# auteur #}
                             <h6>Auteur :</h6>
                                    {% if livre.auteurs is empty %}
                                            <p>Aucun auteur trouvé.</p>
                                        {% else %}
                                            {% for auteurs in livre.auteurs %}
                                                <p>{{ auteurs.nom }}</p>
                                            {% endfor %}
                                        {% endif %}

                            {# date de publication #}
                            <p>Date de publication : {{ livre.anneePublication }}</p>

                                {# etat des livres #}
                                {% if etatsLivres is defined %}
                                        <p>État : {{ livre.etatsLivres.libelle }}</p>
                                    {% else %}
                                        <p>État du livre non défini</p>
                                {% endif %}

                            {# emprunts #}
                        {% if livre.emprunts is not empty %}
                            {% for emprunt in livre.emprunts %}
                                <p>Emprunté le : {{ emprunt.dateDemande|date('Y-m-d') }}</p>
                                <p>Restitution prévue : {{ emprunt.dateRestitutionPrevisionnelle|date('Y-m-d') }}</p>
                                <button type="button" class="btn btn-danger" onclick="location.href='/livres/restituer/{{ livre.id }}'">Restituer</button>
                            {% endfor %}
                        {% else %}
                                <p>Disponible</p>
                                <button  class="btn btn-success" onclick="location.href='/livres/emprunter/{{ livre.id }}'">Emprunter</button>
                        {% endif %}
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ livre.id }}">voir plus</button>  

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    </div>     
   {% endfor %}
    
    {# {% if livre.disponibilite == true %} #}
   
</div>
{% endblock %}
