{% extends 'base.html.twig' %}

{% block title %}Symfony Book{% endblock %}

{% block body %}
    <h1>Bibliotheque</h1>
    <nav>
        <ul>
            {# <li><a href="{{ path('app_livres_index') }}">Livres</a></li> #}
            {# <li><a href="{{ path('app_auteurs_index') }}">Auteurs</a></li> #}
            {# <li><a href="{{ path('app_emprunts_index') }}">Emprunts</a></li> #}
           

            {% include "components/_search.html.twig" with { form:form ?? null } only  %}
        </ul>
    </nav>
    {% if livres is defined %}
    {# {% for livre in livres %}
        <div class="container text-center">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ vich_uploader_asset(livre, 'imageFile') }}" class="img-fluid rounded-start" alt="{{ livre.nom }}">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ livre.nom }}</h5> 
                                    <h6>Auteur : </h6>
                                    <p>Date de publication : {{ livre.anneePublication }}</p>
                                    <h6> {{ livre.disponibilite ? 'Disponible' : 'Indisponible' }}</h6>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ livre.id }}">voir plus</button>  

                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>  
        </div>    
    {% endfor %} #}
    {% else %}
    {% endif %}

    {# tous les livres #}
    {% for livre in livres %}
    
    <div class="container text-center">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ vich_uploader_asset(livre, 'imageFile') }}" class="img-fluid rounded-start" alt="{{ livre.nom }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ livre.nom }}</h5> 
                            <h6>Auteur : </h6>
                            <p>Date de publication : {{ livre.anneePublication }}</p>
                            <h6> {{ livre.disponibilite ? 'Disponible' : 'Indisponible' }}</h6>
                            {% if etat_livre is defined %}
                                <p>État : {{ etat_livre.libelle }}</p>
                            {% else %}
                                <p>État du livre non défini</p>
                            {% endif %}
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ livre.id }}">voir plus</button>  
                                {# <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">{{ livre.nom }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div> 
                                        <div class="modal-body">
                                            <img src="{{ vich_uploader_asset(livre, 'imageFile') }}" class="img-fluid rounded-start" alt="{{ livre.nom }}">
                                            <h6>Auteur : </h6>
                                            <p>Date de publication : {{ livre.anneePublication }}</p>
                                            <p>{{ livre.resume }}</p>
                                            <h6> {{ livre.disponibilite ? 'Disponible' : 'Indisponible' }}</h6>
                                            <button class="btn btn-primary">Emprunter</button>
                                        </div>
                                    </div>
                                </div>
                            </div> #}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    </div>     
   {% endfor %}
    
    {# {% if livre.disponibilite == true %} #}
   
</div>
{% endblock %}
