{# templates/bibliotheque/commentaireEmprunt.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Ajouter une note{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2>Ajouter une note </h2>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.note, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.livres, {'value': id}) }}
            {{ form_errors(form.note) }}
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
